@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "leaflet/dist/leaflet.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
@layer base {
  html {
    @apply text-gray-800;   /* 全体のデフォルト文字色を濃くする */
  }

  h1, h2, h3, h4, h5, h6, label {
    @apply text-gray-900 font-bold;   /* 見出しをはっきり濃く */
  }

  input::placeholder,
  textarea::placeholder, div {
    @apply text-gray-400;
  }

  input,
  textarea,
  select {
    @apply text-gray-900 bg-white border-gray-300;
  }

  input:focus,
  textarea:focus,
  select:focus {
    @apply outline-none ring-2 ring-blue-500 ring-offset-1;
  }
}